footer {
    background-color: #222222;
    color: var( --white );
    font-family: var( --font-p );
    font-size: 14px;
    font-weight: 500;
}
footer .title {
    color: #be3630;
    font-weight: 700;
    font-size: 15px;
}
footer .info li i {
    width: 25px;
    min-width: 25px;
    margin-right: .7em;
    font-size: 20px;
    color: #be3630;
}
footer .info li i.fa-whatsapp {
    color: #5fc95c;
}
footer .info.mail a,
footer a:hover {
    color: #be3630;
}
footer .menu {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}